@using SpeakHub.Service.ViewModels.UserViewModels;
@model List<UserViewModel>
<table class="table table-row-dashed table-row-gray-300 gy-7">
    <thead>
        <tr class="fw-bolder fs-6 text-gray-800">
            <th>id</th>
            <th>FirstName</th>
            <th>Lastname</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Image</th>

        </tr>
    </thead>
    @{
        foreach (var user in Model)
        {
            <tbody>
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Email</td>
                    <td>@user.Image</td>
                    <td><a asp-area="adminUsers" asp-controller="User" asp-action="Update" asp-route-userid="@user.Id" class=" btn btn-primary">Edit</a></td>
                    <td><a asp-controller="User" asp-action="Delete" asp-route-userid="@user.Id" class="btn btn-danger">Delete</a></td>
                    <td><a asp-controller="User" asp-action="UpdateImage" asp-route-userid="@user.Id" class="btn btn-danger">UpdateImage</a></td>
                    <td><a asp-controller="User" asp-action="DeleteImage" asp-route-userid="@user.Id" class="btn btn-danger">DeleteImage</a></td>
                </tr>

            </tbody>
        }
    }
</table>